@font-face {
	font-family: "Acumin Pro";
	src: url("../src/assets/fonts/Acumin-Pro-Light.otf") format("opentype"),
		url("../src/assets/fonts/Acumin-Pro-Thin.otf") format("opentype"),
		url("../src/assets/fonts/Acumin-Pro-Medium.otf") format("opentype"),
		url("../src/assets/fonts/Acumin-Pro-Semibold.otf") format("opentype"),
		url("../src/assets/fonts/Acumin-Pro-Bold.otf") format("opentype"),
		url("../src/assets/fonts/Acumin-Pro-Black.otf") format("opentype");
}

@font-face {
	font-family: "Brandon Grotesque";
	src: url("../src/assets/fonts/Brandon_Grotesque_light.otf") format("opentype"),
		url("../src/assets/fonts/Brandon_Grotesque_thin.otf") format("opentype"),
		url("../src/assets/fonts/Brandon_Grotesque_regular.otf") format("opentype"),
		url("../src/assets/fonts/Brandon_Grotesque_medium.otf") format("opentype"),
		url("../src/assets/fonts/Brandon_Grotesque_bold.otf") format("opentype"),
		url("../src/assets/fonts/Brandon_Grotesque_black.otf") format("opentype");
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	font-family: "Acumin Pro";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Brandon Grotesque";
}
